NEXT_PUBLIC_API_GATEWAY=...
NEXT_PUBLIC_API_PROXY_ORIGIN=...
NEXT_PUBLIC_APP_ENV=...
NEXT_PUBLIC_MAX_DEFINITION=...

## ENDPOINTS
NEXT_PUBLIC_EP_AUTH_LOGIN=...
NEXT_PUBLIC_EP_AUTH_LOGOUT=...
NEXT_PUBLIC_EP_CLIENT=...
NEXT_PUBLIC_EP_NET_WORTH=...
NEXT_PUBLIC_EP_CURRENCY_DEPOSIT=...
NEXT_PUBLIC_EP_CURRENCY_NETWORKS=...%TOKEN...
NEXT_PUBLIC_EP_DEPOSIT_ADDRESS=...%NETWORK...
NEXT_PUBLIC_EP_CONVERSION_QUOTE=...%TOKEN1...%TOKEN2...
NEXT_PUBLIC_EP_CONVERSION_PAIRS=...
NEXT_PUBLIC_EP_STATEMENT_AVAILABLE=...
NEXT_PUBLIC_EP_CONVERSION=...
NEXT_PUBLIC_EP_STAKING_TYPE=...
NEXT_PUBLIC_EP_STAKING=...
NEXT_PUBLIC_EP_ACTIVITY=...
NEXT_PUBLIC_EP_STAKING_REDEEM=...%OPID...
NEXT_PUBLIC_EP_STAKING_ACTIVE=...
NEXT_PUBLIC_EP_STAKING_REDEEMED=...
NEXT_PUBLIC_EP_STATEMENT_LIABILITY=...
NEXT_PUBLIC_EP_LOAN_ACTIVE=...
NEXT_PUBLIC_EP_LOAN_COMPLETED=...
NEXT_PUBLIC_EP_LOAN=...%OPID...
NEXT_PUBLIC_EP_LOAN_HISTORY_EVENTS=...%OPID...
NEXT_PUBLIC_EP_LOAN_TYPE=...